<section class="content">
    <style type="text/css">
        #box-data{
            float: left;
            margin: 2px;
        }
        .formheading {
            margin-left: 0px;
          }

    </style>
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-md-6 col-xs-6 col-sm-6">
                <h4>Sticker</h4>
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6 pull-right" style="margin-top:1%;">

            </div>
        </div>
        <br>

        <div class="row" id="filterBox">
            <div class="col-md-12">
                <div class="box box-primary paddingLeft0">
                    <div class="box-header with-border paddingLeft0 marginBorderHead">
                        <div class="formHeadDiv">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1 class="formheading paddingLeft0">
                                        Filter
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->

                    <form id="filterSeriesForm" name="filterSeriesForm">
                        <div class="box-body marginEmailBody">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class=""> Month/Year</label>
                                        <div>
                                            <div class="input-group" style="width:100%;">
                                                <select id="series_month_year" ng-model="sti.series_month_year" name="series_month_year" class="form-control s2mn" style="width:100%;"  >
                                                    <option value="">Select Month/Year</option>
                                                     <option value="{{series.series_name}}" ng-repeat="series in sti.seriesList">{{series.month_year}}</option>
                                                 </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="">Series Name</label>
                                        <div>
                                            <div class="input-group" style="width:100%;">
                                                <input class="form-control" type="text" name="" ng-value="sti.series_month_year" disabled="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="">From Start</label>
                                        <div>
                                            <div class="input-group" style="width:100%;">
                                                <input class="form-control" type="text" name="from_start" id="from_start" ng-model="sti.from_start" >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="">No. of Records</label>
                                        <div>
                                            <div class="input-group" style="width:100%;">
                                                <input class="form-control" type="number" name="records"  ng-model="sti.records">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- /.box-body -->
                    <div class="box-footer" style="margin-right:14px!important;border-top: 1px solid lightgrey!important;">
                        <div class="row">
                            <div class="pull-right">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-default btn-md" title="PDF" ng-click="sti.pdf();" style="outline: 0;margin-top: 10px;"> <i class="fa fa-file-pdf-o" style="color: red;"></i> PDF</button>
                                    <button  type="button" class="btn btn-default btn-md"  title="Find" ng-click="sti.findWithFilter();" style="margin-top: 10px;outline: 0;" ><i class="fa fa-search" aria-hidden="true"></i> &nbsp; Find
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-header with-border" style="background: white;">
                <div class="">
                    <div class="row">
                        <div class="">
                        <div class="col-md-6 col-xs-6 col-sm-6">
                            <h1 class="formheading">
                                  Sticker List
                            </h1>
                        </div>

                        <div class="col-md-6">
                            <div class="pull-right" ng-if="sti.stickerList.length > 0">
                                <button  type="button" class="btn btn-default btn-md"  title="Find" ng-click="sti.download();" style="outline: 0;" > <i class="fa fa-file-pdf-o" style="color: red;"></i> PDF</button>
                                <!-- <button  type="button" class="btn btn-default btn-md"  title="Find" ng-click="exportToExcel('#hidden_table');" style="outline: 0;" > <i class="fa fa-file-excel-o" style="color: green;"></i> Excel
                                </button>

                                <export-to-pdf elem-id="tableToExport"></export-to-pdf> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

        <div>
            <div class="row" >
                <div class="col-md-12">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Sr No.</th>
                                <!-- <th>ID</th> -->
                                <th>Temp Id</th>
                                <!-- <th>Series Name</th> -->
                                <th>Final Id</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-if="sti.stickerList.length > 0" ng-repeat="data in sti.stickerList">
                                <td style="text-align: center;" ng-bind="($index + 1)"></td>
                                <!-- <td>{{data.id}}</td> -->
                                <td>{{data.tempId}}</td>
                                <!-- <td>{{data.seriesName}}</td> -->
                                <td>{{data.seriesName + data.finalId}}</td>
                            </tr>
                            <tr ng-if="sti.stickerList == null || sti.stickerList.length == 0">
                                <td style="text-align: center;" colspan="5">No Records Found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    $(document).ready(function () {
        $("html, body").animate({scrollTop: 0}, "fast");

        $("#filterSeriesForm").validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error',
            errorPlacement: function (error, element) {
                var type = $(element).attr("type");
                if ($(element).attr("id") === "userRole")
                {
                    // custom placement
                    element.parent().append(error);
                } else {
                    error.insertAfter(element);
                }
            },
            focusInvalid: true, // set focus the last invalid input
            ignore: [], // validate all fields including form hidden input
            rules: {
                from_start: {
                    digits: true,
                    required:true
                },
                series_month_year : {
                    required:true
                },
                records : {
                    required:true
                }
            },
            highlight: function (element) { // hightlight error inputs
                $(element)
                        .closest('.form-group').addClass('has-error');
                $(element)
                        .next().children().children().attr('style', 'border-color:#dd4b39!important');
                // set error class to the control group
            },
            unhighlight: function (element) { // revert the change done by hightlight
                $(element)
                        .closest('.form-group').removeClass('has-error');
                $(element)
                        .next().children().children().attr('style', 'border-color:'); // set error class to the control group
            },
            success: function (label) {
                label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
            }
        });
    });
</script>
